.base-authentication-page {
  .login-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
  }


  .login-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .sign-up-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .span-down {
    grid-row: 3 / 5;
    align-self: center;
  }

  .span-down-su {
    grid-row: 4 / 6;
    align-self: center;
  }

  .tou-info {
    display: block;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: right;
  }



  @media (min-width: 40rem) {
    grid-template-columns: 20vw 1fr 20vw;

    
  }

  @media (min-width: 60rem) {
  }
}
