.btn {
    &--primary {
        background-color: $mainPink !important;
        color: $white !important;

        &:hover a,
        &:active a {
            color: $white !important;
        }
    }

    &--secondary {
        background-color: $mainOffWhite !important;
        color: $mainBlack !important;
    }

    &__status {
        &--success {
            color: $success;
        }

        &--fail {
            color: $error;
        }
    }
}
