.footer {
    background-color: $mainBlack;
    color: $white; 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 200px;

    .legal-top {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
    }

    .legal {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 30rem) {
        .legal-top {
        }
    }
}
