.ta-bar {
    &__btn {


        i.fa-circle {
            text-shadow: 0px 0px 2px #f5edef
        }

        &:hover {
            cursor: pointer;
        }

        &--code {
            i:first-of-type {
                color: #ff3366;
            }

            &:hover {
                i:first-of-type {
                    color: #ff4f7e;
                }
            }
        }

        &--comments {
            i:first-of-type {
                color: #f15946;
            }

            &:hover {
                i:first-of-type {
                    color: #f86753;
                }
            }
        }

        &--enrolls {
            i:first-of-type {
                color: #f9c22e;
            }

            &:hover {
                i:first-of-type {
                    color: #ffd04f;
                }
            }
        }
    }
}
