.tutorial-page {
  display: grid;
  grid-template-areas:
    "header"
    "body";
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;

  &__header {
    grid-area: header;
    position: relative;
  }

  &__actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;

    margin: auto;
    width: fit-content;
  }

  &__body {
    grid-area: body;
    background-color: $tutorial_content_grid_background;
    padding: 2em 1em;

    display: grid;
    grid-template-areas:
      "sidebarColumn"
      "sections"
      "relatedEntries";
    grid-template-rows: repeat(3, min-content);
    row-gap: 25px;
  }

  .side-bar-column {
    grid-area: sidebarColumn;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 30px;

    justify-content: center;
  }

  .sections {
    grid-area: sections;
  }

  .related-entries {
    grid-area: relatedEntries;
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    &__body {
      padding: 5em 3em;
    }

    .sections {
      display: grid;
      justify-content: center;
    }

    .section-item {
      width: 630px;
    }
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
    background-color: $tutorial_page_background;
    grid-template-areas:
      ". header ."
      ". body .";
    grid-template-columns: 1fr 1fr 1fr;

    &__header,
    &__body {
      border-left: $solidGrayBorder;
      border-right: $solidGrayBorder;
    }

    &__body {
      grid-template-areas:
        "sections sidebarColumn"
        "sections sidebarColumn"
        "relatedEntries sidebarColumn";
      grid-template-columns: 1fr min-content;
      column-gap: 10em;
    }

    .sections {
      display: grid;
      justify-content: left;
    }
  }
}
