.tutorial-snippet {
    width: 95vw;

    a:hover {
        color: initial;
    }

    &__card {
        height: 100%;
    }

    &__top, &__bottom {
        &:hover, &:active {
            cursor: default;
        }
    }

    &__bottom {
        display: grid;
        grid-template-rows: max-content max-content;
    }
    &__tags {
        display: grid;
        grid-auto-flow: column;
        column-gap: 0.5em;

        align-self: flex-end;
        justify-self: end;
    }

    @include for-size(tablet-landscape-up) {
        width: 350px;
        height: 480px;
    }
}
