.docker-config/node/dist
.docker-config/nginx/letsencrypt
*.env
ebdeploy.zip
app.zip
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

letsencrypt.zip
dump-*