.auth-dialog {
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1280px) {
    }
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;

    height: 100vh;
    width: 100vw;
    background: $mainBlack;
    box-sizing: border-box;

    outline: none;
    padding: 7vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;

    i {
        position: absolute;
        right: 7vw;
        top: 7vw;
    }

    &__inner {
        height: 80%;
        width: 100%;

        display: grid;
        grid-template-rows: repeat(2, min-content) 80px 200px;
        row-gap: 50px;
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 230px;

        font-size: 25px;
        color: #b4b4b4;

        .line {
            border-left: 2px solid $mainPink;
            height: 35px;
        }

        .current {
            color: $white;
        }
    }

    &__sign-in {
        border: none;
        border-radius: $buttonRadius;

        padding: 20px;
        width: 100%;
        height: min-content;

        font-family: $normalFontFamily;
        font-size: 16px;

        color: $white;
        background: $mainPink;
    }

    &__buttons {
        grid-row: 4;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    @media (min-width: 640px) {
        i {
            display: none;
        }
    }
    @media (min-width: 768px) {
        height: 80vh;
        width: 55vw;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1280px) {
        width: 30vw;
        padding: 0vw 5vw;
    }

    .disabled {
        opacity: 0.5;
    }
}
