&__main {
    grid-row: 2;

    display: grid;
    row-gap: 2em;
    height: max-content;
}

.description {
    &__lines {
        padding: 0px 15px;
        display: grid;
        row-gap: 1em;
    }
}

@media (min-width: 768px) {
    &__main {
        grid-row: 1;
    }
}

@media (min-width: 1280px) {
    &__main {
        width: 90%;
    }
}
