.dashboard {
    &__table {
        width: 100%;
        margin-top: 1em;

        th {
            text-align: left;
            border-bottom: 1px solid #e3e5e8;

            &:hover {
                cursor: default;
            }
        }

        td {
            border-bottom: 1px solid #deeaf6;
            font-size: 15px;
        }

        th,
        td {
            padding: 1em 2em;
        }
    }

    &__row {
        height: max-content;
    }

    .circle {
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;

        height: 10px;
        width: 10px;

        &.enabled {
            background-color: $mainGreen;
        }

        &.not-enabled {
            background: lightgray;
        }
    }

    &__row-link {
        color: #2bc4d8;

        &:hover {
            text-decoration: underline;
        }
    }

    &__row-slug {
        /* overflow-wrap: anywhere;
        white-space: nowrap;
        overflow: scroll;
        width: 50px; */
    }

    &__row-fi {
        width: 55px;
        height: auto;

        font-size: 3.5em;
        color: #a3bcc3;
    }

    &__row-color {
        text-transform: capitalize;
    }

    &__row-tags-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .enabled {
        color: #2bc4d8;
    }
}
