.tutorial-header {
  display: grid;
  grid-template-areas:
    ". image tags"
    "title title title";

  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 0.5em;

  height: 325px;
  padding: 1em 1em 0 1em;

  justify-content: center;

  &__title {
    grid-area: title;
    align-self: center;

    font-size: 24px;
    text-align: center;
  }

  &__image {
    grid-area: image;
    text-align: center;

    .featured-image {
      width: 210px;
      height: 210px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__tags {
    grid-area: tags;

    display: grid;
    grid-auto-rows: min-content;
    row-gap: 3px;
    grid-column: 2/4;
    justify-content: end;
    justify-items: end;

    text-align: right;
    font-size: 16px;
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    height: 360px;
    grid-template-areas:
      ". image tags"
      "title title title";
    height: 400px;
    padding: 1.5em 1em 0em 1em;

    &__title {
      font-size: 36px;
    }

    &__image {
      grid-column: 2;
      .featured-image {
        width: 230px;
        height: 230px;
      }
    }
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }

  @media (min-width: 30rem) {
  }
}
