.tutorial-page {
    display: grid;
    grid-template-areas:
        "header"
        "body";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    &__header {
        grid-area: header;
        position: relative;
    }

    &__body {
        grid-area: body;
        background-color: $tutorial_content_grid_background;
        padding: 3em 1em;

        display: grid;
        grid-template-areas:
            "sidebarColumn"
            "sections"
            "relatedEntries";
        grid-template-rows: repeat(3, min-content);
        row-gap: 25px;
        justify-items: center;
    }

    .side-bar-column {
        grid-area: sidebarColumn;

        display: inline-grid;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 200px;
        row-gap: 30px;

        justify-content: center;

        max-width: 200px;
        min-width: min-content;
    }

    .sections {
        grid-area: sections;
    }

    .related-entries {
        grid-area: relatedEntries;
    }

    .tutorial-links {
        display: grid;
        grid-auto-rows: auto;
        row-gap: 0.5em;

        padding: 1em 0em;
        text-align: left;

        color: #2bc4d8;
    }

    @media (min-width: 640px) {
    }

    @media (min-width: 768px) {
        &__body {
            padding: 5em 3em;
        }

        .sections {
            display: grid;
            justify-content: center;
        }

        .section-item {
            width: 630px;
        }
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
        background-color: $tutorial_page_background;
        grid-template-areas:
            ". header ."
            ". body .";
        grid-template-columns: 1fr 1fr 1fr;

        &__header,
        &__body {
            border-left: $solidGrayBorder;
            border-right: $solidGrayBorder;
        }

        &__body {
            grid-template-areas:
                "sections sidebarColumn"
                "sections sidebarColumn"
                "relatedEntries sidebarColumn";
            grid-template-columns: 1fr min-content;
            column-gap: 5em;
        }

        .sections {
            display: grid;
            justify-content: left;
        }
    }

    @import "./actionBar/actionBar.scss";
    @import "./colorBox/colorBox.scss";
    @import "./progressCheck/progressCheck.scss";
    @import "./relatedNavigator/relatedNavigator.scss";
    @import "./sectionBar/sectionBar.scss";
    @import "./shareBar/shareBar.scss";
    @import "./tutorialHeader/tutorialHeader.scss";
    @import "./tutorialSection/tutorialSection.scss";
}
