.single-page {
  display: flex;
  flex-direction: column;
  padding: 0 20vw;
  flex: 1;

  .body {
    flex-grow: 1;
    background-color: $tutorial_content_grid_background;
    padding: 30px 15px;

    display: grid;
    color: $normalFontColor;
    justify-content: center;

    height: 100%;
  }

  .section-content {
    .title {
      margin: 20px 0px;
    }

    p {
      line-height: $normalParagraphLineHeight;
      margin: $normalParagraphMargin;
    }

    p > a {
      color: #23daca;
    }
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    min-height: 700px;

    .section-content {
      width: 550px;
    }
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
    height: 100%;
    background-color: $tutorial_page_background;

    .body {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }
  }
}
