.tutorial-content-bar {
  color: #444444;
  font-size: 14px;
  text-align: center;
  width: 200px;

  ul,
  span {
    padding: 15px;
  }

  li {
      margin: 8px;
  }

  li > a:active, a:hover {
    font-weight: bold;
  }

  span {
    display: block;
    border-bottom: 1px solid #4bb3fd;
    text-align: center;
  }

  .content-box {
    border: 1px solid #4bb3fd;
    text-align: left;
  }
}
