.tutorial-header {
  display: grid;
  grid-template-areas:
    ". image ."
    "title title title";

  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 250px 40px;
  row-gap: 15px;

  max-height: 360px;
  padding: 20px 0px;

  justify-content: center;

  &__title {
    grid-area: title;
    align-self: center;

    font-size: 24px;
    text-align: center;
  }

  &__image {
    grid-area: image;
    text-align: center;

    .featured-image {
      height: 100%;
      width: auto;
    }
  }

  &__tags {
    display: none;
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    grid-template-areas:
      ". image tags"
      "title title title";
    padding: 40px 20px;

    &__title {
      font-size: 38px;
    }

    &__tags {
      grid-area: tags;

      display: grid;
      grid-auto-rows: min-content;
      text-align: right;

      font-size: 14px;
    }
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }

  @media (min-width: 30rem) {
  }
}
