.related-navigator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    min-height: 100px;

    .entry-label, .entry-link {
        font-weight: bold;
        display: block;
    }

    .entry-label {
        color: #ed6387;
        font-size: 18px;
    }

    .entry-link {
        color: #232323;
        font-size: 22px;
    }

    i {
        font-size: 50px;
        color: #69d4ca;
    }

    .entry {
        display: grid;

        align-items: center;
        grid-column-gap: 15px;
    }

    .previous {
        justify-self: start;
        grid-template-columns: min-content auto;
    }

    .next {
        text-align: right;
        justify-self: end;
        grid-template-columns: auto min-content;
    }

    @media (min-width: 30rem) {
        box-sizing: border-box;
        padding: 0px 40px;
    }
}