.section {
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  color: #272727;

  .section-grid {
    display: grid;
    grid-template-rows: 2vw 1fr 2vw;
    grid-template-columns: 5vw 1fr 5vw;
  }

  .data {
    grid-column: 2;
    grid-row: 2;
  }

  .data > p > a {
    color: #23daca;
  }

  .data > p > a:hover, a:active {
    color: black;
  }

  p {
    line-height: 1.7;
    margin: 18px 0;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;

    border: 1px solid #d6d6d6;
  }

  hr {
    grid-row: 3;
    grid-column: 2;

    border: 0;
    border-bottom: 1px solid #c3c3c3;
    width: 100%;
  }

  ul, ul > li {
    list-style-type: circle;
    margin: 0px 10px;

  }

  ul > li > p {
    margin: 5px;
  }

  ul > li > ul > li {
    list-style-type: none;
    margin: 10px;
  }

  .section-progress {
    width: 100%;

    display: grid;
    align-items: center;

    button, button:focus, div {
      border: none;
      background: none;
      outline-style: none;
    }

    .not-started {
      color: #aaaaaa;
    }

    .progress {
      font-size: 68px;
    }

    .section-rule, #progress-span {
      grid-column: 1;
      grid-row: 1;
    }

    #progress-span {
      justify-self: center;
    }
  }

  @media (min-width: 30rem) {
    p {
      line-height: 1.5;
      margin: 18px 0;

      a {
        color: #1da1f2;
      }
    }
    .section-grid {
      grid-template-columns: 3vw 1fr 3vw;
    }

    .data {
      width: 750px;
    }
  }
}
