.tutorial-page {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f4f4f4;
  
  h2,
  p {
    margin: 15px 0px;
  }

  .content-grid {
    background-color: #ffffff;

    display: grid;
    grid-template-rows: 15vw 1fr 15vw auto auto 15vw;
  }

  .side-bar-column {
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 40px;
    justify-content: center;
  }

  .sections {
    grid-row: 4;
  }

  .related-entries {
    grid-row: 5;
  }

  @media (min-width: 40rem) {


    .content-grid {
      grid-template-rows: 3vh 1fr 1fr 1fr 3vh;
    }

    .side-bar-column {
      grid-row: 2;
    }

    .sections {
      grid-row: 3;
    }

    .related-entries {
      grid-row: 4;
    }
  }

  @media (min-width: 60rem) {
    
    display: flex;
    justify-content: center;
    align-items: center;

    .tutorial-content {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }

    .content-grid {
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: 3vw auto auto 3vw;

      column-gap: 35px;
      padding: 0px 35px;
    }

    .sections {
      grid-row: 2;
    }

    .side-bar-column {
    }

    .related-entries {
      grid-row: 3;
    }
  }
}
