&__sidebar {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 2em;
}

&__enable {
    width: max-content;

    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    column-gap: 1em;

    .enable-text {
        font-size: 18px;
    }
}

&__actions {
    display: grid;
    grid-template-rows: 1fr max-content;
    row-gap: 5px;
}

&__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    width: max-content;
}

&__tags {
    overflow-wrap: anywhere;
    position: relative;
}

&__taglist {
    margin-top: 10px;

    .tag-item {
        width: fit-content;
        padding: 8px 10px;
        border: 1px solid #b9b0ac;
        border-radius: 6px;
        cursor: default;

        display: inline-grid;
        grid-template-columns: max-content min-content;
        column-gap: 6px;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
}

&__foundtags {
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);

    width: 100%;
    position: absolute;
    background-color: white;
    top: 92px;

    .f-tag-item {
        padding: 0.5em 1em;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
            background-color: #deebff;
        }
    }
}

.file-container {
    overflow: hidden;
    position: relative;
    width: min-content;
}

.file-hide {
    height: 0;
    width: 0;
    cursor: inherit;
    display: inline-block;
    filter: alpha(opacity=0);
    opacity: 0;
}

.preview {
    width: min-content;
    position: relative;

    &__file {
        display: block;
        height: 100px;
        width: auto;
    }

    &__remove {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

.upload {
    font-size: 3em;
    color: #a3bcc3;
    width: fit-content;

    &:hover {
        color: #77aebd;
        cursor: pointer;
    }
}

.pl {
    &::placeholder {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    &__foundtags {
        top: 113px;
    }
}

@media (min-width: 1024px) {
    &__foundtags {
        top: 94px;
    }
}
