.planner {
    &__section {
        margin-bottom: 2em;
    }

    &__tutorials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        grid-auto-rows: min-content;
        row-gap: 2em;

        justify-content: space-between;
        justify-items: center;
        margin: 1em 0;
    }

    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
        &__tutorials {
            column-gap: 4em;
        }
    }
    @media (min-width: 1024px) {
        &__tutorials {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 1280px) {
    }
}
