$navFooterBorder: 1px solid #444444;

$normalFontFamily: "Nunito";
$normalFontColor: #272727;
$normalParagraphLineHeight: 1.7;
$normalParagraphMargin: 25px 0px;

$solidGrayBorder: 1px solid lightgray;

$tutorialBannerRadius: 30px;
$buttonRadius: 6px;

$mainBlack: #1e1d1d;
$mainPink: #ff3f6f;
$mainGreen: #45b914;
$mainOffWhite: #eceded;
$mainTeal: #23daca;
$mainLightGrey: #eceded;

$white: #ffffff;

/** Navigation Bar variables*/
$navigationBlackBorder: 1px solid #242323;
$navigationWhiteBorder: 3px solid #d6d1d1;
$navigationFontWhite: #d6d1d1;
$navigationBarHeight: 75px;

/** Tutorial Banner variables */
$tutorialBannerBlack: #282828;
$tutorialBannerPink: #ff3f6f;
$tutorialBannerTeal: #23daca;
$tutorialBannerWhite: #f6f7f8;

/** Tutorial Page variables */
$tutorial_page_background: #ffffff;
$tutorial_content_grid_background: #ffffff;


/** States */
$success: #3eb00e;
$error: #ea2b3e;