.write {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    flex: 1;

    .outline {
        border: 1px solid #c0c0c0;
        border-radius: 6px;
    }

    .block {
        display: grid;
        row-gap: 1em;
        padding: 1.2em 1.5em;
    }

    &__body {
        background-color: $white;
        flex-grow: 1;
        color: $normalFontColor;
        padding: 1.5em 1em;
        box-sizing: border-box;
        height: 100%;

        display: grid;
        grid-template-rows: max-content 1fr;
        row-gap: 2em;
    }

    @media (min-width: 640px) {
    }

    @media (min-width: 768px) {
        padding: 0 0;

        &__body {
            padding: 2em 2em;

            grid-template-rows: unset;
            grid-template-columns: 2.5fr 1fr;
            column-gap: 2em;
        }
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
        height: 100%;
        padding: 0 16vw;

        &__body {
            padding: 2em 5em;
            grid-template-columns: 70% 1fr;

            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }
    }

    @import "./main/main.scss";
    @import "./section/section.scss";
    @import "./sidebar/sidebar.scss";
}
