.section {
    margin-bottom: 1em;

    &__title {
        display: block;
        width: 100%;
        text-align: left;

        padding: 5px 15px;
        box-sizing: border-box;
        border-bottom: 1px solid #c0c0c0;

        &:hover {
            cursor: pointer;
        }

        .x-btn-cont {
            float: right;
        }
    }
}
