.site-banner {
    height: 155px;
    background-color: #45b914;
  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7vw 1fr 7vw;
  
    &__inner {
      grid-column: 2;
      height: 100%;
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      color: $white;
    }
  
    .sb-header {
      font-weight: 600;
      font-size: 20px;
    }
  
    &__buttons {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-column-gap: 20px;
  
      width: max-content;
    }
  
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      grid-template-columns: 2vw 1fr 2vw;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1280px) {
      grid-template-columns: 15vw 1fr 15vw;
    }
  }
  