.tutorial-banner {
  grid-column: 2;
  color: $white;

  &--black {
    background-color: $tutorialBannerBlack;
  }

  &--pink {
    background-color: $tutorialBannerPink;
  }

  &--teal {
    background-color: $tutorialBannerTeal;
  }

  &--white {
    background-color: $tutorialBannerWhite;
    color: #444444 !important;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &__link {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 25px 25px;
    box-sizing: border-box;

    &:hover,
    &:active {
      color: inherit;
    }
  }

  .banner-inner {
    &__header {
      font-size: 32px;
      font-weight: normal;
    }

    &__description {
      font-size: 15px;
    }

    &__description {
      margin-top: 20px;
      line-height: 25px;
    }
  }

  .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }

  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    height: 285px;

    &__link {
      grid-template-columns: 1fr auto;
    }

    .banner-inner {
      &__description {
        width: 90%;
      }
    }
  }
  @media (min-width: 1024px) {
    height: 255px;

    border-radius: $tutorialBannerRadius;
    .banner-inner {
      &__header {
        font-size: 28px;
      }

      &__description {
        font-size: 16px;
        width: 75%;
      }
    }

    &__link {
      padding: 40px 72px;
    }
  }
  @media (min-width: 1280px) {
  }
}
