.related-navigator {
    min-height: 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 5px;

    .entry-label,
    .entry-link {
        font-weight: bold;
        display: block;
    }

    .entry-label {
        color: #ed6387;
        font-size: 18px;
    }

    .entry-link {
        color: #232323;
        font-size: 22px;
    }

    i {
        font-size: 50px;
        color: #69d4ca;
    }

    .entry {
        display: grid;

        align-items: center;
        grid-column-gap: 15px;

        border: 1px solid transparent;

        &:hover {
            border-radius: 15px;
            border: 1px solid #cecece;
        }
    }

    .previous {
        justify-self: start;
        grid-template-columns: min-content auto;
    }

    .next {
        text-align: right;
        justify-self: end;
        grid-template-columns: auto min-content;
    }
}
