.base-authentication-page {
  background-color: #14141400;

  display: grid;
  grid-template-columns: 3vw 1fr 3vw;
  grid-template-rows: 10vh auto 10vh;

  .heading {
    color: #ffffff;
    font-size: 25px;
  }

  .unfocused {
    color: #b4b4b4;
    font-weight: normal;
  }

  .subtitle {
    color: #ffffff;
    font-size: 16px;
  }

  .divider {
    color: #e63662;
    margin: 0px 5px;
  }

  label {
    margin-bottom: 10px;
    font-size: 16px;
  }

  form label {
    display: block;
  }

  input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
  }

  button {
    font-size: 18px;
    background-color: #ff3366;
    color: #ffffff;
  }

  input,
  button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-family: "Nunito";
    border-style: none;
  }

  .grid {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    width: 100%;

    height: 750px;
  }

  @media (min-width: 40rem) {
    .grid {
      width: 500px;
    }
  }
}
