.navigation-bar {
  font-family: $normalFontFamily;
  background-color: $mainBlack;
  border-bottom: $navFooterBorder;

  display: grid;
  grid-template-rows: 1fr;

  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  top: 0;
  z-index: 4;
  position: fixed;

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    align-items: center;

    a {
      align-items: center;
    }
  }

  .main {
    &__logo {
      display: grid;
      grid-template-columns: repeat(2, min-content);

      &:hover {
        cursor: pointer;
      }
    }

    &__ico {
      height: 40px;
      width: 40px;
    }

    &__brand {
      display: none;
      justify-self: center;
    }

    &__middle {
      justify-self: center;
    }

    &__end {
      justify-self: end;
    }

    &__links {
      position: absolute;
      z-index: 24;
      top: $navigationBarHeight;

      display: grid;
      grid-template-rows: repeat(3, min-content);
      width: 100vw;

      &.hide {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      &.show {
        height: auto;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }

    &__link {
      padding: 10px;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $mainBlack;
      border: none;
      border-bottom: $navigationBlackBorder;

      color: $white;
      font-size: 18px;
      box-sizing: border-box;

      &.feat {
        visibility: visible;
        height: unset;
        padding: 5vh 0;
      }

      .featured-container {
        pointer-events: inherit;
        width: 75%;
        height: auto;

        &__text {
          margin-top: 20px;
          text-align: center;
          color: $mainPink;

          font-size: large;
          font-family: Calibre, sans-serif;
          font-weight: 700;
          font-size: 15px;

          letter-spacing: 0.04em;
          line-height: 1.5625;
          text-transform: uppercase;
        }
      }
    }

    &__profile {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    &__overlay {
      position: absolute;
      z-index: 1;
      top: $navigationBarHeight;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.685);
    }

    &__menu-btn {
      display: flex;
      justify-self: end;
      font-size: 41px;
    }
  }

  @media (min-width: 380px) {
    .main {
      &__link {
        .featured-container {
          width: 64%;
        }
      }
    }
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    &__main {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      height: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .main {
      &__logo {
        grid-column: 1;
      }

      &__brand {
        display: block;
      }

      &__links {
        margin-top: 0px;

        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;

        width: 230px;
        right: 15vw;

        .end {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          column-gap: 30px;
        }

        .featured {
          display: none;
        }
      }

      &__link {
        border: none;
        padding: 15px 25px;

        &[href="/sign-up"] {
          color: $mainPink;
        }
      }

      &__menu-btn {
        /* display: none; */
      }

      &__link:hover,
      &__link:active {
        background: #282828;
        &[href="/sign-up"] {
          border-bottom-color: $mainPink;
        }
      }

      &__overlay {
        display: none;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 10px 15vw;

    &__main {
      padding: 0px 0px;
    }
  }

  @media (min-width: 1280px) {
  }
}
