.tutorial-list {
  display: grid;
  grid-template-areas: "body";
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  min-height: 500px;

  .body {
    grid-area: body;
    background-color: white;
    padding: 30px 5px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    justify-items: center;

    color: $normalFontColor;
  }

  .section-content {
    .title {
      margin: 20px 0px;
    }

    p {
      line-height: $normalParagraphLineHeight;
      margin: $normalParagraphMargin;
    }
  }

  @media (min-width: 640px) {
  }

  @media (min-width: 768px) {
    min-height: 700px;
    .body {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1280px) {
    // background-color: $tutorial_page_background;
    grid-template-areas: ". body .";
    grid-template-columns: 1fr min-content 1fr;

    .body {
      padding: 30px 60px;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }
  }
}
