.write {
    background-color: #e7e8ec;
    display: flex;
    flex-direction: column;
    flex: 1;

    .body {
        background-color: $white;
        flex-grow: 1;
        color: $normalFontColor;
        padding: 1.5em 1em;
        box-sizing: border-box;
        height: 100%;

        display: grid;
        grid-template-rows: max-content 1fr;
        row-gap: 2em;
    }

    .outline {
        border: 1px solid #c0c0c0;
        border-radius: 6px;
    }

    &__main {
        grid-row: 2;

        display: grid;
        row-gap: 2em;
    }

    &__sidebar {
        grid-row: 1;
        width: 100%;
        box-sizing: border-box;

        display: grid;
        row-gap: 1em;
        height: fit-content;
    }

    .description {
        &__lines {
            padding: 0px 15px;
            display: grid;
            row-gap: 1em;
        }
    }

    &__tags {
        overflow-wrap: anywhere;
    }

    .upload {
        font-size: 2.5em;
    }

    .block {
        display: grid;
        row-gap: 1em;
        padding: 1.8em 1.5em;
    }

    .section {
        &__title {
            display: block;
            width: 100%;
            text-align: center;

            padding: 5px 0;
            border-bottom: 1px solid #c0c0c0;
        }

        &__body {
        }
    }

    @media (min-width: 640px) {
    }

    @media (min-width: 768px) {
        padding: 0 0;

        .body {
            padding: 2em 2.5em;

            grid-template-rows: unset;
            grid-template-columns: 75% 1fr;
            column-gap: 2em;
        }

        &__main {
            grid-row: 1;
        }
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
        height: 100%;
        padding: 0 20vw;

        .body {
            grid-template-columns: 70% 1fr;

            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }

        &__main {
            width: 90%;
        }
    }
}
