.write {
    background-color: #e7e8ec;
    display: flex;
    flex-direction: column;
    flex: 1;

    .body {
        background-color: $white;
        flex-grow: 1;
        color: $normalFontColor;
        padding: 1.5em 1em;
        box-sizing: border-box;
        height: 100%;

        display: grid;
        grid-template-rows: max-content 1fr;
        row-gap: 2em;
    }

    .outline {
        border: 1px solid #c0c0c0;
        border-radius: 6px;
    }

    &__main {
        grid-row: 2;

        display: grid;
        row-gap: 2em;
        height: max-content;
    }

    &__sidebar {
        width: 100%;
        box-sizing: border-box;

        display: grid;
        grid-template-rows: repeat(2, min-content);
        row-gap: 2em;
    }

    &__actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        width: max-content;
    }

    .description {
        &__lines {
            padding: 0px 15px;
            display: grid;
            row-gap: 1em;
        }
    }

    &__enable {
        width: max-content;

        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
        column-gap: 1em;

        .enable-text {
            font-size: 18px;
        }
    }

    &__tags {
        overflow-wrap: anywhere;
    }

    &__taglist {
        margin-top: 10px;

        .tag-item {
            width: fit-content;
            padding: 8px 10px;
            border: 1px solid #b9b0ac;
            border-radius: 6px;

            display: inline-grid;
            grid-template-columns: max-content min-content;
            column-gap: 6px;
            justify-content: center;
            align-items: center;

            margin-right: 0.5em;
            margin-bottom: 0.5em;

            i {
                color: #a7a5a5;
                &:hover {
                    cursor: pointer;
                    color: #747272;
                }
            }
        }
    }

    .upload {
        font-size: 3em;
        color: #a3bcc3;
        width: fit-content;

        &:hover {
            color: #77aebd;
            cursor: pointer;
        }
    }

    .block {
        display: grid;
        row-gap: 1em;
        padding: 1.8em 1.5em;
    }

    .section {
        margin-bottom: 1em;

        &__title {
            display: block;
            width: 100%;
            text-align: center;

            padding: 5px 0;
            border-bottom: 1px solid #c0c0c0;

            &:hover {
                cursor: pointer;
            }
        }

        &__body {
        }
    }

    @media (min-width: 640px) {
    }

    @media (min-width: 768px) {
        padding: 0 0;

        .body {
            padding: 2em 2em;

            grid-template-rows: unset;
            grid-template-columns: 75% 1fr;
            column-gap: 2em;
        }

        &__main {
            grid-row: 1;
        }

        &__sidebar {
            padding-top: 1em;
        }
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
        height: 100%;
        padding: 0 16vw;

        .body {
            padding: 2em 5em;
            grid-template-columns: 70% 1fr;

            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }

        &__main {
            width: 90%;
        }
    }
}
