.login-dialog {
  height: 100%;
  display: flex;

  .login-grid {
    flex-grow: 1;
    padding: 40px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
  }

  .login-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }  

  .span-down {
    grid-row: 3 / 5;
    align-self: center;
  }


  .forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: right;
  }

  @media (min-width: 30rem) {
    .login-grid {
      padding: 40px 60px;
    }
  }
}
