.sign-up-dialog {
  height: 100%;
  display: flex;

  .sign-up-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .sign-up-grid {
    flex-grow: 1;
    padding: 40px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
  }

  .span-down {
    grid-row: 4 / 6;
    align-self: center;
  }

  .tou-info {
    display: block;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
  }

  @media (min-width: 30rem) {
    .sign-up-grid {
      padding: 40px 60px;
    }
  }
}
