.form-field {
    margin: 0;
    font-family: $normalFontFamily;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 2px;

    &__hint {
        font-size: 0.85em;
        color: gray;
    }

    &__label,
    &__input,
    &__ta,
    &__button,
    &__select {
        font-size: 16px;
        font-family: $normalFontFamily;

        width: 100%;
        box-sizing: border-box;

        &.bold {
            font-weight: bold;
        }
    }

    &__input,
    &__ta,
    &__button,
    &__select {
        border: none;
        /* padding: 12px; */
        border-radius: 4px;

        &.slim {
            padding: 6px 12px;
        }
    }

    &__ta {
        height: 6em;
    }

    &__ta,
    &__input,
    &__select {
        /* border: $solidGrayBorder; */

        &:active,
        &:visited,
        &:focus-within {
            outline: none;
        }
    }

    &--blue {
        margin: 1px;

        &:focus-within {
            border: 2px solid #2684ff;
            margin: 0;
        }
    }
}
