
$tutorial_page_background: #f4f4f4;
$tutorial_content_grid_background: #ffffff;

$normalFontColor: #272727;
$normalParagraphLineHeight: 1.7;
$normalParagraphMargin: 25px 0px;

$mainBlack: #141414;
$mainPink: #ff3f6f;

$white: #ffffff;

/** Navigation Bar variables*/
$navigationBlackBorder: 1px solid #242323;
$navigationWhiteBorder: 3px solid #d6d1d1;
$navigationFontWhite: #d6d1d1;