
$tutorial_page_background: #f4f4f4;
$tutorial_content_grid_background: #ffffff;

$normalFontFamily: "Nunito";
$normalFontColor: #272727;
$normalParagraphLineHeight: 1.7;
$normalParagraphMargin: 25px 0px;

$tutorialBannerRadius: 30px;
$buttonRadius: 6px;

$mainBlack: #141414;
$mainPink: #ff3f6f;

$white: #ffffff;

/** Navigation Bar variables*/
$navigationBlackBorder: 1px solid #242323;
$navigationWhiteBorder: 3px solid #d6d1d1;
$navigationFontWhite: #d6d1d1;
$navigationBarHeight: 70px;


/** Tutorial Banner variables */
$tutorialBannerBlack: #212121;
$tutorialBannerPink: #ff3f6f;
$tutorialBannerTeal: #23daca;
$tutorialBannerWhite: #f6f7f8;