@import "./variables.scss";
@import "./theme.scss";

h1,
h2,
h3,
p,
ul,
button,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

h1,
h2,
button,
a {
  color: unset;
}

h1,
h2,
p,
body,
span {
  // background-color: $tutorial_page_background;
  font-family: "Nunito" !important;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

.black {
  background-color: #212121;
  color: #ffffff;
}

.pink {
  background-color: #ff3f6f;
  color: #ffffff;
}

.white {
  background-color: #f6f7f8;
  color: #444444;
}

.teal {
  background-color: #12d2c1;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

.app__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


/** Breakpoints set at
 @media (min-width: 640px) {}
 @media (min-width: 768px) {}
 @media (min-width: 1024px) {}
 @media (min-width: 1280px) {}
*/

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@import "./imports.scss";
