@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
    primary: $mainPink,
    secondary: $mainOffWhite,
    ternary: $mainLightGrey,
    success: #ffffff,
    info: #64c3d2,
    warning: #f5e74a,
    danger: #ea2b3e,
);

@import "bootstrap/scss/bootstrap";


a {
    color: unset;

    &:hover, &:active {
        color: unset;
    }
}

p {
    padding: 0;
    margin: 0;
}

span, p {
    // color: $white;
}